
<?php foreach($this->notes as $note): ?>
<hr />
  Created By: <?php echo $note['first_name'].' '.$note['last_name'] ?><br />
  Created On: <?php echo $note['created_on'] ?><br />
  <b>Note:</b> <?php echo $note['note'] ?><br />
  <br />
<?php endforeach; ?>