<template lang="html">
    <div class="jsa_invoices__detail">
        <div class="jsa_invoices__panel-heading"><button class="jsa_invoices__back" @click="close(previousView)"></button>Invoice Details</div>

        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Description</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.ENTRYDESCRIPTION}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Posted Date</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.WHENDUE}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Term</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.TERMNAME}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Status</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.STATE}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Total Due</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.TOTALENTERED | currency}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Total Paid</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.TOTALPAID | currency}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Remaining Due</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.TOTALDUE | currency}}</div>
        </div>
        <div class="jsa_invoices__item-row">
            <div class="jsa_invoices__item-row--left">Due Date</div>
            <div class="jsa_invoices__item-row--right">{{activeDetail.WHENDUE}}</div>
        </div>


        <div v-if="childrenTotal">
            <div class="jsa_invoices__panel-heading jsa_invoices__panel-heading--sub">Previous Transactions</div>

            <div class="jsa_invoices__details-children-total">
                <div>Total Paid</div>
                <div v-if="childrenTotal"><strong>{{childrenTotal | currency }}</strong></div>
                <div v-else><strong>$0.00</strong></div>

            </div>
            <table class="jsa_invoices__details-children">
                <tr class="jsa_invoices__details-children-header">
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
                <tr class="jsa_invoices__details-child" v-for="child in children">
                    <td class="">{{child.WHENPAID}}</td>
                    <td class="">{{child.PAYMENTTYPE}}</td>
                    <td class="">{{child.PAYMENTAMOUNT | currency}}</td>
                </tr>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    props: ['activeDetail', 'previousView'],
    template: '#invoice-detail',
    data() {
        return {}
    },
    computed: {
        children: function() {
            if(this.activeDetail.PAYMENTDETAILS) {
                return this.activeDetail.PAYMENTDETAILS;
            }
        },
        childrenTotal: function() {
            // Get the selected invoices
            var items = this.children;
            // Map the values of each item to an array of prices
            if(items) {
                var all = items.map(function(item) {
                    return item.PAYMENTAMOUNT;
                });

                // Calculate the total of the array
                var total = all.reduce((a, b) => a + b, 0);

                return total;
            }
        }
    },
    methods: {
        close: function(view) {
            // Check if the previous view was another detail
            if(view === 'details') {
                // if so, set to default
                view = 'overview';
            }
            // Send previous view
            this.$emit('closed', view);
        }
    },
    filters: {
        capitalize: function(str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        },
        currency: function(value, currency, decimals) {
            var digitsRE = /(\d{3})(?=\d)/g
            value = parseFloat(value)
            if (!isFinite(value) || (!value && value !== 0)) return ''
                currency = currency != null ? currency : '$'
                decimals = decimals != null ? decimals : 2
            var stringified = Math.abs(value).toFixed(decimals)
            var _int = decimals
            ? stringified.slice(0, -1 - decimals)
            : stringified
            var i = _int.length % 3
            var head = i > 0
            ? (_int.slice(0, i) + (_int.length > 3 ? ',' : ''))
            : ''
            var _float = decimals
            ? stringified.slice(-1 - decimals)
            : ''
            var sign = value < 0 ? '-' : ''
            return sign + currency + head +
            _int.slice(i).replace(digitsRE, '$1,') +
            _float
        }
    }
}
</script>
