<template lang="html">

    <transition :duration="275" name="fade">
        <div class="showbox" v-if="loading">
                <div class="loader">
                    <svg viewBox="25 25 50 50">
                        <circle class="loader_background" cx="50" cy="50" r="22" stroke-width="0" />
                        <circle class="loader_rotation" cx="50" cy="50" r="20" fill="none" stroke-width="4" />
                        <path class="loader_path" d="m48,58l15,-20" stroke-dasharray="20 20" stroke-dashoffset="20" />
                        <path class="loader_path" d="m48,58l-8,-6" stroke-dasharray="8 8" stroke-dashoffset="8" />
                    </svg>
                </div>
                <div class="loader-text">
                    {{loadingText}}
                </div>
        </div>
    </transition>

</template>

<script>
export default {
    props: {
        loading: {
            Boolean
        },
        loadingText: {
            String
        }
    },
    data() {
        return {

        }
    }
}
</script>

<style media="screen">
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
    }
</style>
