<template lang="html">
    <div class="jsa_invoices__panel-controls">
        <a class="jsa_invoices__panel-control" :class="{'jsa_invoices__panel-control--active' : activePanel === 'invoices'}" href="#invoices" @click="activatePanel('invoices')">Invoices</a>
        <a class="jsa_invoices__panel-control" :class="{'jsa_invoices__panel-control--active' : activePanel === 'overview'}" href="#overview" @click="activatePanel('overview')">Overview</a>
    </div>
</template>

<script>
export default {
    props: ['activePanel'],
    template: '#panel-controls',
    data() {
        return {
            currentPanel: 'invoices'
        }
    },
    methods: {
        selectPanel: function() {
            const vm = this;
            vm.$emit('panel', this.currentPanel);
        },
        activatePanel: function(panel) {
            this.currentPanel = String(panel);
            this.selectPanel();
        }
    }
}
</script>
