<template lang="html">
    <div class="jsa_invoices__payment-item jsa_form-row jsa_radio-row">
        <div class="jsa_invoices__payment-title">
            <div>{{invoiceTitle}}</div>
            <a href="#remove"  class="jsa_invoices__payment-remove" @click.prevent="removeInvoice(invoice)"></a>
        </div>

        <ul>
            <li>
                <input type="radio" :name="radioName" :value="amount" @click="onDefaultClick" checked>
                <label>Pay Balance: <span>{{amount | currency}}</span></label><br>
            </li>
            <li>
                <input type="radio" :name="radioName" :value="customAmount" @click="onCustomClick">
                <label>Specific Amount:</label>
                <input type="number" v-model.number="customAmount" class="jsa_money" @keydown="maxAmount" @keyup="maxAmount" @input="$emit('input', customAmount)" :disabled="!custom">
            </li>
        </ul>

    </div>
</template>

<script>

// Set a delay timer on the function to return a specific amount to default.
function debounce(func, wait, immediate) {
    var timeout;
    return function() {
        var context = this, args = arguments;
        var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    }
}

export default {
    props: ['invoiceNumber', 'amount', 'invoiceTitle', 'invoice'],
    template: '#payment-row',
    data() {
        return {
            custom: false,
            customAmount: this.amount,
            timeoutCount: 0
        }
    },
    computed: {
        radioName: function() {
            return `invoice_${this.invoiceNumber}`
        }
    },
    mounted() {
        this.$emit('input', this.amount)
    },
    methods: {
        onDefaultClick() {
            this.custom = false
            this.$emit('input', this.amount)
        },
        onCustomClick() {
            this.custom = true
            this.$emit('input', this.customAmount)
        },
        removeInvoice: function(invoice) {
            const vm = this;
            vm.$emit('remove', invoice);
        },
        maxAmount: debounce(function() {
            // If the specific amount entered is greater than the total invoice, revert to the total invoice cost automatically
            if (this.customAmount > this.amount) {
                // Set custom amount to total amount of invoice
                this.customAmount = this.amount;
                // Update the data store
                this.$emit('input', this.customAmount)
            }
        }, 200)
    },
    filters: {
        capitalize: function(str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        },
        currency: function(value, currency, decimals) {
            var digitsRE = /(\d{3})(?=\d)/g
            value = parseFloat(value)
            if (!isFinite(value) || (!value && value !== 0)) return ''
                currency = currency != null ? currency : '$'
                decimals = decimals != null ? decimals : 2
            var stringified = Math.abs(value).toFixed(decimals)
            var _int = decimals
            ? stringified.slice(0, -1 - decimals)
            : stringified
            var i = _int.length % 3
            var head = i > 0
            ? (_int.slice(0, i) + (_int.length > 3 ? ',' : ''))
            : ''
            var _float = decimals
            ? stringified.slice(-1 - decimals)
            : ''
            var sign = value < 0 ? '-' : ''
            return sign + currency + head +
            _int.slice(i).replace(digitsRE, '$1,') +
            _float
        }
    }
}
</script>
