<template lang="html">
    <select>
        <slot></slot>
    </select>
</template>

<script>
$ = window.jQuery;
export default {
    props: ['options', 'value'],
    template: '#select2-template',
    data() {
        return {
          //   options: terms
        }
    },
    mounted: function () {
      var vm = this
      $(this.$el)
        // init select2
        .select2({ data: this.options })
        .val(this.value)
        .trigger('change')
        // emit event on change.
        .on('change', function () {
          vm.$emit('input', this.value)
        })
    },
    watch: {
      value: function (value) {
        // update value
        $(this.$el).val(value).trigger('change');
      },
      options: function (options) {
        // update options
        $(this.$el).select2({ data: options })
      }
    },
    destroyed: function () {
      $(this.$el).off().select2('destroy')
    }
}
</script>

<style lang="css">
</style>
