<template lang="html">

    <div class="jsa_transactions-table">

        <div class="jsa_invoice-filters">

            <div class="jsa_invoice__filter-controls" :class="{'jsa_invoice__filter-controls--open' : filtersOpen}">
                <div>
                    <button class="jsa_button--outline button jsa_invoice__filters-button" @click="toggleFilters" :class="{'jsa_invoice-filters-button--open' : filtersOpen == true}">{{filtersText}}</button>
                    <transition name="slide-inout">
                        <button @click="resetFilters" key="reset" class="jsa_button--outline jsa_invoice__filters-button jsa_invoice__filters-button--reset" v-if="filtersSet">Reset Filters</button>
                    </transition>
                </div>
                <transition name="slide-inout">
                    <button class="jsa_button jsa_invoice__make-payment " @click="paymentView" :class="{ 'jsa_button--active' : totalAmount}" v-bind:disabled="totalAmount == 0" v-if="selectedInvoices.length > 0">Make a Payment</button>
                </transition>
            </div>

            <div class="jsa_invoice__filters-status" :class="{'jsa_invoice__filters-status--open' : filtersOpen}" v-show="filtersOpen">
                <form @submit.prevent class="jsa_form_wrapper jsa_search-form jsa_statement-form">
                    <ul>
                        <li class="jsa_form-row jsa_date-range open">
                            <label class="jsa_field_label" for="dates">Date Range</label>
                            <div class="datepick">
                                <div>
                                    <label class="datepicker-label" for="from">From</label>
                                    <input type="text" class="date-input" id="from" name="from" v-model="dateFrom" :value="dateFrom">
                                </div>
                                <div>
                                    <label class="datepicker-label" for="to">to</label>
                                    <input type="text" class="date-input" id="to" name="to" v-model="dateTo">
                                </div>
                            </div>
                        </li>

                        <li class="jsa_form-row jsa_form-row--term">
                            <label class="jsa_field_label">Academic Term</label>
                            <select2 :options="terms" @input="filtersState" v-model="selectedTerm">
                              <option disabled value="0">Select one</option>
                            </select2>
                        </li>

                        <li class="jsa_form-row jsa_search-submit">
                            <a href="#filtersearch" class="jsa_button jsa_search-button jsa_button-filter-search" @click.prevent="applyFilters"> Search </a>
                        </li>
                    </ul>
                </form>
            </div>

        </div>

        <div class="jsa_invoices__wrap" :class="'jsa_invoices__panel-active--' + activePanel">
            <!-- Tabs -->
            <div class="jsa_invoices jsa_invoices__panel jsa_invoices__panel--left" :class="{'jsa_invoices__panel--active' : activePanel === 'invoices'}">

                <ul class="jsa_invoices__tabs">
                    <li class="jsa_invoices__tab" v-for="tab in tabs"  :class="{'jsa_invoices__tab--active': tab === tabSelected}" >
                        <a :href="'#' + tab" @click="selectTab(tab)" class="jsa_invoices__tab">
                            {{ tab }}
                        </a>
                    </li>
                </ul>

                <!-- Invoice Row -->
                <transition-group name="fade">
                    <div class="jsa_invoice-row"  :class="{'jsa_invoice-row--active' : activeDetail == entry}" v-for="entry in filteredData" key="entry.RECORDNO" v-if="dateRange(entry.WHENDUE)" >

                        <div class="jsa_invoice__content jsa_invoice__content--left">
                            <div class="jsa_form-row jsa_checkbox-row jsa_checkbox-table">
                                <div class="jsa_checkbox" :class="{'hide-checkbox' : entry.STATE === 'Paid'}">
                                    <input type="checkbox" id="jack" v-bind:value="entry" v-model="selectedInvoices" v-bind:disabled="entry.STATE === 'Paid'">
                                    <label for="jack"></label>
                                </div>
                            </div>
                            <div class="jsa_invoice__title-wrap">
                                <div class="jsa_invoice__description">{{entry.ENTRYDESCRIPTION}}</div>
                                <div class="jsa_invoice__date">{{entry.WHENDUE}} &bull; {{entry.STATE}} &bull; {{entry.TERMNAME}} </div>
                            </div>
                        </div>

                        <div class="jsa_invoice__content jsa_invoice__content--right">
                            <div class="jsa_invoice__amount">{{entry.TOTALDUE | currency }}</div>
                            <a href="#view-details" @click="viewDetails(entry)" class="jsa_invoice__view-details">{{detailsStatus(entry)}}</a>
                        </div>

                    </div>
                </transition-group>

            </div>

            <div class="jsa_invoices__panel jsa_invoices__panel--right" :class="{'jsa_invoices__panel--active' : activePanel === 'overview'}">

            <transition name="slide-fade">
                <!-- Overview -->
                <div class="jsa_invoices__overview" key="overview" v-if="sidebarView === 'overview'">
                    <div class="jsa_invoices__panel-heading">Overview</div>
                    <div class="jsa_invoices__item-row">
                        <div class="jsa_invoices__item-row--left">Account Number</div>
                        <div class="jsa_invoices__item-row--right">{{customer.CUSTOMERID}}</div>
                    </div>
                    <div class="jsa_invoices__item-row">
                        <div class="jsa_invoices__item-row--left">Unpaid Balance</div>
                        <div class="jsa_invoices__item-row--right">{{totalDue | currency}}</div>
                    </div>
                    <div class="jsa_invoices__item-row">
                        <div class="jsa_invoices__item-row--left">Payment Plans</div>
                        <div class="jsa_invoices__item-row--right">{{customer.PAYMENTPLANS}}</div>
                    </div>
                    <div class="jsa_invoices__item-row">
                        <div class="jsa_invoices__item-row--left">Account Status</div>
                        <div class="jsa_invoices__item-row--right jsa_invoices__overview-status" :class="{'jsa_invoices__overview-status--active' : customer.STATUS === 'active' }">{{customer.STATUS}}</div>
                    </div>
                </div>

                <div class="jsa_invoices__details-wrapper" key="details" v-if="sidebarView === 'details'">
                    <invoice-detail
                        :active-detail="activeDetail"
                        :previous-view="previousView"
                        @closed="resetView($event)"
                    ></invoice-detail>
                </div>

                <!--  Payment form -->
                <div class="jsa_invoices__payment jsa_form_wrapper" key="payment" v-if="sidebarView === 'payment'">

                    <div class="jsa_invoices__panel-heading">Make a Payment</div>

                    <div class="jsa_invoices__selected" v-show="selectedInvoices.length > 0">
                        <strong>{{selectedInvoices.length}} invoices selected</strong> </br>
                        Total Charges: <span>{{totalAmount | currency }}</span>
                    </div>

                    <form action="" id="tuitionform" name="tuitionform" method="POST">

                    <payment-row
                        v-for="(invoice, invoiceId) in selectedInvoices"
                        :key="invoiceId"
                        :invoice="invoice"
                        :invoice-number="invoice.RECORDNO"
                        :invoice-title="invoice.ENTRYDESCRIPTION"
                        :amount="invoice.TOTALDUE"
                        @input="setInvoiceAmount('invoice-'+invoice.RECORDNO, $event)"
                        @remove="removeInvoice($event)"
                        v-if="selectedInvoices.length > 0">
                    </payment-row>

                    <div class="" v-if="selectedInvoices.length < 1">
                        No invoices selected
                        <input class="jsa_button jsa_button--alt" type="button" @click="clearInvoices" value="Cancel">
                    </div>

                    <div v-if="selectedInvoices.length > 0" class="jsa_invoices__payment-controls">

                        <div class="jsa_invoices__payment-total">
                            <div>Payment Total</div>
                            <div><strong>{{ total | currency}}</strong></div>
                        </div>

                        <div class="jsa_invoices__payment-buttons">
                            <input class="jsa_button jsa_button--alt" type="button" @click="clearInvoices" value="Cancel">
                            <input class="jsa_button" type="submit" :class="{ 'jsa_button--active' : amountSelected}" v-bind:disabled="totalAmount == 0" value="Continue">
                        </div>

                    </div>

                    </form>

                </div>
            </transition>

            </div>
            <!-- END RIGHT PANEL -->
        </div>

        <panel-controls
            :active-panel="activePanel"
            @panel="changePanel($event)">
        </panel-controls>

    </div>
    <!-- END WRAPPER -->

</template>

<script>

import select2 from './select2.vue';
import paymentRow from './payment-row.vue';
import panelControls from './panel-controls.vue';
import invoiceDetails from './invoice-details.vue';

export default {
    name: 'transaction-table',
    template: '#grid-template',
    components: {
        'select2': select2,
        'payment-row': paymentRow,
        'invoice-detail': invoiceDetails,
        'panel-controls': panelControls
    },
    props: {
        data: Array,
        terms: Array,
        keys: Array,
        customer: Object,
        dates: Array,
        // dateMin: String,
        // dateMax: String,
        totalDue: Number

    },
    data() {
        return {
            sortKey: '',
            filterKey: '',
            amountSelected: false,
            selectedInvoices: [],
            tabIsActive: false,
            tabSelected: 'open',
            tabs: ['all', 'open', 'closed' ],
            all: ['Partially Paid', 'Posted', 'Paid'],
            open: ['Partially Paid', 'Posted'],
            closed: ['Paid'],
            invoiceAmounts: {},
            sidebarView: 'overview',
            previousView: '',
            detailText: 'view details',
            activeDetail: '',
            dateFrom: '',
            dateTo: '',
            termSelected: '',
            filtersOpen: false,
            filtersText: 'Filter Results',
            filtersSet: false,
            selectedTerm: 0,
            activePanel: 'invoices'
        }
    },
    computed: {
        tabChoice: function() {
            var selection = this.tabSelected;
            if(selection === 'open') {
                return this.open;
            } else if (selection === 'closed') {
                return this.closed;
            } else if (selection === 'all') {
                return this.all;
            }
        },
        filteredData: function() {
            var data = this.data;
            var filterKey = this.tabChoice;
            var term = String(this.selectedTerm);

            var itemLength = data.length;

            var results = [];
            for(var i = 0; i < data.length; i++) {
                if(filterKey.indexOf(data[i].STATE) >= 0 ) {
                    results.push(data[i]);
                }
            }

            results = results.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).indexOf(term) > -1
              })
            })

            // Sort results by date due
            results.sort(function(a,b) {
              a = a.WHENDUE.split('/').reverse().join('');
              b = b.WHENDUE.split('/').reverse().join('');
              return a > b ? 1 : a < b ? -1 : 0;
            });

            return results;

        },
        totalAmount: function() {
            // Get the selected invoices
            var items = this.selectedInvoices;
            // Map the values of each item to an array of prices
            var all = items.map(function(item) {
                return item.TOTALDUE;
            });

            // Calculate the total of the array
            var total = all.reduce((a, b) => a + b, 0);
            if(total <= 0) {
                this.amountSelected = false;
            } else {
                this.amountSelected = true;
            }

            return total;
        },
        total: function() {
            return Object.values(this.invoiceAmounts).reduce((sum, value) => { return sum + value }, 0)
        },
        setDateMin: function() {
            // set initial From date as smallest value
            // return this.dates[0];
            return this.dates[0];
        },
        setDateMax: function() {
            // Set initial To date as last value
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd = '0'+dd
            }
            if(mm<10) {
                mm = '0'+mm
            }

            today = mm + '/' + dd + '/' + yyyy;

            var lastDate = this.dates.slice(-1)[0];

            if(today > lastDate) {
                return today;
            } else {
                return lastDate;
            }


        }
    },
    methods: {
        updateSelect: function() {
            const vm = this;
            // console.log('hello');
            $( "#from" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                    vm.dateFrom = selectedDate;
                    if (vm.filtersSet !== true) {
                        vm.filtersSet = true;
                    }

                }
            });
            $( "#to" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 3,
                onClose: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                    vm.dateTo = selectedDate;
                    if (vm.filtersSet !== true) {
                        vm.filtersSet = true;
                    }
                }
            });
        },
        selectTab: function(value) {
            this.tabSelected = value;
        },
        setInvoiceAmount: function(invoiceId, amount) {
            const vm = this;
            vm.$set(vm.invoiceAmounts, invoiceId, amount);
        },
        removeInvoice: function(invoice) {
            // Fire adjustment update
            var totalAmounts = this.invoiceAmounts;
            var invoiceItem = 'invoice-'+invoice.RECORDNO;

            // Remove invoice value from total amount
            if(invoiceItem in totalAmounts) {
                totalAmounts[invoiceItem] = 0;
                invoiceItem = String(invoiceItem);
                delete totalAmounts[invoiceItem];
            }

            var invoices = this.selectedInvoices,
            invoice = invoices.indexOf(invoice);
            // If the invoice exists in the selected invoices, remove it
            if (invoice > -1) {
                invoices.splice(invoice, 1);
            }
        },
        clearInvoices: function() {
            this.selectedInvoices = [];
            this.sidebarView = 'overview';
        },
        paymentView: function() {
            this.sidebarView = 'payment';
            this.activePanel = 'overview';
        },
        viewDetails: function(entry) {
            // if the active detail matches the looped entry, clear out to defaults
            if(this.activeDetail == entry) {
                this.sidebarView = 'overview';
                this.activePanel = 'overview';
                this.activeDetail = '';
            } else {
                // show details
                this.previousView = this.sidebarView;
                this.sidebarView = 'details';
                this.activeDetail = entry;
                this.activePanel = 'overview'
            }
        },
        detailsStatus: function(detail) {
            // update button text
            if (this.activeDetail == detail) {
                return 'close details';
            } else {
                return 'view details';
            }
        },
        resetView: function(view) {
            this.activeDetail = '';
            this.sidebarView = view;
        },
        dateRange: function(dateCheck, start, end) {
            if(start !== undefined) {
                var start = start;
            } else {
                var start = '';
            }

            if(end !== undefined) {
                var end = end;
            } else {
                var end = '';
            }

            if(this.dateFrom == '') {
                this.dateFrom = this.setDateMin;
                start = this.setDateMin;
            } else {
                this.dateFrom = this.dateFrom;
                start = this.dateFrom;
            }

            if(this.dateTo == '') {
                this.dateTo = this.setDateMax;
                end = this.setDateMax;
            } else {
                this.dateTo = this.dateTo;
                end = this.dateTo;
            }

            var dateCheck = dateCheck;

            var startDate = new Date(start);
            var endDate = new Date(end);
            var checkDate = new Date(dateCheck);

            return checkDate >= startDate && checkDate <= endDate;
        },
        filterByTerm: function(term) {
            return this.selectedTerm === term;
        },
        applyFilters: function() {
            const vm = this;
            // Wait for DOM to update from jQuery component
            setTimeout(function() {
                var from = '', to = '';
                // Get From value
                from = document.getElementById('from').value;
                console.log('from '+from);
                // Get To value
                to = document.getElementById('to').value;
                console.log('to '+to);

                // Assign them to vue instance
                vm.dateFrom = from;
                vm.dateTo = to;

                vm.filtersSet = true;

            }, 200)
        },
        filtersState: function() {
            if(this.selectedTerm == 0) {
                this.filtersSet = false;
            } else {
                this.filtersSet = true;
            }
        },
        resetFilters: function() {
            const vm = this;

            vm.filtersSet = false;
            vm.dateFrom = vm.setDateMin;
            vm.dateTo = vm.setDateMax;
            vm.selectedTerm = 0;

        },
        toggleFilters: function() {
            const vm = this;
            vm.filtersOpen = ! vm.filtersOpen;
            if(vm.filtersOpen == true) {
                vm.filtersText = 'Close Filters';
            } else {
                vm.filtersText = 'Filter Results'
            }
        },
        changePanel: function(panel) {
            this.activePanel = panel;
        }
    },
    mounted() {
        this.updateSelect();
    },
    filters: {
        capitalize: function(str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        },
        currency: function(value, currency, decimals) {
            var digitsRE = /(\d{3})(?=\d)/g
            value = parseFloat(value)
            if (!isFinite(value) || (!value && value !== 0)) return ''
                currency = currency != null ? currency : '$'
                decimals = decimals != null ? decimals : 2
            var stringified = Math.abs(value).toFixed(decimals)
            var _int = decimals
            ? stringified.slice(0, -1 - decimals)
            : stringified
            var i = _int.length % 3
            var head = i > 0
            ? (_int.slice(0, i) + (_int.length > 3 ? ',' : ''))
            : ''
            var _float = decimals
            ? stringified.slice(-1 - decimals)
            : ''
            var sign = value < 0 ? '-' : ''
            return sign + currency + head +
            _int.slice(i).replace(digitsRE, '$1,') +
            _float
        }
    }
}
</script>
