<template>
    <div id="demo">

        <loader
        :loading="loading"
        :loading-text="loadingText"></loader>

        <transition :duration="275" name="fade">
            <div v-if="!loading">
                <div class="jsa_invoice__summary" v-cloak>
                      <div class="jsa_invoice__summary-name" v-text="customer.NAME"></div>
                      <div class="jsa_invoice__summary-balance" v-text="currency(totalDue)"></div>
                  </div>

                <transaction-table
                    :data="gridData"
                    :customer="customer"
                    :terms="terms"
                    :dates="dates"
                    :keys="getKeys"
                    :total-due="totalDue">
                </transaction-table>
            </div>
        </transition>

    </div>
</template>

<script>

function formatData(object)
{
    var addParam    = '';
    var paramString = '';
    for (var key in object) {
        addParam = key + '=' + object[key] + '&';
        paramString = paramString + addParam;
    }
    return paramString;
}

import axios from 'axios'
import transactionTable from './components/transaction-table.vue';
import loader from './components/loader.vue';

    export default {
        name: 'demo',
        components: {
            'loader' : loader,
            'transaction-table': transactionTable
        },
        data() {
            return {
                loading: true,
                loadingText: '',
                totalSelected: 0,
                customer: {
                    "CUSTOMERID": "C-1000",
                    "NAME": "Test User",
                    "TOTALDUE": 100000.00,
                    "STATUS": "active",
                    "PAYMENTPLANS": "1,2"
                },
                gridData: []
            }
        },
        mounted() {
            this.getContent();
        },
        computed: {
            totalDue: function() {
                const vm = this;
                // Get the selected invoices
                var items = vm.gridData;
                // Map the values of each item to an array of prices
                var all = items.map(function(item) {
                    return item.TOTALDUE;
                });

                // Calculate the total of the array
                var total = all.reduce((a, b) => a + b, 0);

                return total;
            },

            states: function() {
                const vm = this;
                var data = vm.gridData;

                var results = [];
                for(var i = 0; i < data.length; i++) {
                    if(results.indexOf(data[i].STATE) === -1) {
                        results.push(data[i].STATE);
                    }
                }
                return results;
            },
            dates: function() {
                const vm = this;
                var data = vm.gridData;
                var results = [];

                for(var i = 0; i < data.length; i++) {
                    if(results.indexOf(data[i].WHENDUE) === -1) {
                        results.push(data[i].WHENDUE);
                    }
                }

                // Order the dates chronologically
                results.sort(function(a,b) {
                  a = a.split('/').reverse().join('');
                  b = b.split('/').reverse().join('');
                  return a > b ? 1 : a < b ? -1 : 0;
                });
                return results;
            },
            getKeys: function() {
                var data = this.gridData;
                var test = [];
                for(var i = 0; i < data.length; i++) {
                    return Object.keys(data[i]);
                }
            },
            terms: function() {
                const vm = this;
                var array = this.gridData;

                var results = [];
                for(var i = 0; i < array.length; i++) {
                    if(results.indexOf(array[i].TERMNAME) === -1) {
                        results.push(array[i].TERMNAME);
                    }
                }
                return results;
            }
        },
        methods: {
            getContent: function() {
                const vm = this;
                vm.loading = true;
                vm.loadingText = 'One moment while we load your information.';
                //axios.get('test-data.json')
                axios.post('https://www.mattstapleton.com/test-data.php',formatData({
                    customer_id: 'C-1000',
                    personid:    '12345',
                    clientid:    '9',
                    type:        'invoice_data',
                    token:       'REDACTED'
                }))
                .then(function(response) {
                    console.log('loaded data');
                    if(response.data) {
                        vm.loading = false;
                        vm.loadingText = 'Success!';
                        vm.gridData = response.data.invoices;
                        console.log('success');
                    }
                })
                .catch(function(error) {
                    console.log(error);
                    vm.loadingText = 'Sorry, there was an issue loading your information.'
                })
            },
            currency: function(value, currency, decimals) {
                var digitsRE = /(\d{3})(?=\d)/g
                value = parseFloat(value)
                if (!isFinite(value) || (!value && value !== 0)) return ''
                    currency = currency != null ? currency : '$'
                    decimals = decimals != null ? decimals : 2
                var stringified = Math.abs(value).toFixed(decimals)
                var _int = decimals
                ? stringified.slice(0, -1 - decimals)
                : stringified
                var i = _int.length % 3
                var head = i > 0
                ? (_int.slice(0, i) + (_int.length > 3 ? ',' : ''))
                : ''
                var _float = decimals
                ? stringified.slice(-1 - decimals)
                : ''
                var sign = value < 0 ? '-' : ''
                return sign + currency + head +
                _int.slice(i).replace(digitsRE, '$1,') +
                _float
            }
        }

    }

</script>

<style media="screen">
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
    }
</style>
