<p>
    <a href="<?php echo $this->url(array('controller'=>'group',
        'action'=>'add'));?>">Add event group</a></p>

<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>

    <?php foreach($this->eventGroups as $eventGroup): ?>
    <tr>
        <td><?php echo $this->escape($eventGroup->name);?></td>
        <td>
            <a href="<?php echo $this->url(array('controller'=>'group',
            'action'=>'edit', 'id'=>$eventGroup->id));?>">Edit</a>
            <a href="<?php echo $this->url(array('controller'=>'group',
            'action'=>'delete', 'id'=>$eventGroup->id));?>">Delete</a>
            <a href="<?php echo $this->url(array('controller'=>'template',
            'action'=>'index', 'id'=>$eventGroup->id));?>">Event Templates</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
